body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #048608;
    color: #ffffff;
    padding: 10px 0;
    height: 80px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin-right: 20px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.news {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.news h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.news article {
    background-color: #fffc2f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news article:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.news h3 {
    color: #048608;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.news p {
    font-size: 1rem;
    color: #000000;
    line-height: 1.6;
}

.news-link {
    display: inline-block;
    margin-top: 10px;
    color: #048608;
    font-weight: bold;
    text-decoration: none;
}

.news-link:hover {
    text-decoration: underline;
}

.news-image {
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download-btn {
    background-color: #048608;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20px;
}

.download-btn:hover {
    background-color: #036804;
    transition: background-color 0.3s;
}


footer {
    background-color: #121416;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
