body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #048608;
    color: #ffffff;
    padding: 10px 0;
    height: 80px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin-right: 20px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background: url('kysuce.jpg') no-repeat center center/cover;
    color: #000000;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 10px;
}

footer {
    background-color: #121416;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
