

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    padding-bottom: 1000px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}



header {
    background-color: #048608;
    color: #ffffff;
    padding: 10px 0;
    height: 80px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin-right: 20px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background: url('kysuce.jpg') no-repeat center center/cover;
    color: #000000;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.coat-of-arms {
    margin-top: 20px;
    width: 150px;
    height: auto;
}

.about, .news, .contact {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.contact{
    height: 471px;
}

.about h2, .news h2, .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p, .news p, .contact p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;

}

.about h3 {
    margin-top: 20px;
    font-size: 1.8rem;
    color: #048608; 
}

.about p {
    margin-bottom: 15px; 
    line-height: 1.6;
    color: #333; 
}

footer {
    background-color: #121416;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
}

footer p {
    margin: 0;
}


.news article {
    background-color: #fffc2f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news article:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.news h3 {
    color: #048608; 
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.news p {
    font-size: 1rem;
    color: #333333;
    line-height: 1.6;
}

.news-link {
    display: inline-block;
    margin-top: 10px;
    color: #048608;
    font-weight: bold;
    text-decoration: none;
}

.news-link:hover {
    text-decoration: underline;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}


  .history-image, .news-image {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



 .history-image { 

    width: 40%;
    margin-bottom: 30px;
}

.news-image{
    width: 30%;
}

.nature-image{
    width: 40%;
}

.mapa{
    width: 25%;
    
}


